@import '../../scss/tokens';
@import '../../scss/mixins';

// ---------- NAVIGATION ----------
.navigation {
  display: flex;
  align-items: center;
  gap: space(8);

  @include down(md) {
    display: none;
  }

  &__spacer {
    flex: 1;
  }

  &__list {
    display: flex;
    gap: space(5);
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
